{
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": false,
  "semi": true,
  "singleQuote": true,
  "svelteSortOrder": "scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true
}
